h1{
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight:lighter;
    text-shadow:1px 1px 2px black;
    }
    body{
        display: flex;
        background:linear-gradient(to right, rgb(195, 0, 255),rgb(255, 182, 218));
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        justify-items: center;
        font-size: larger;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    
    }
    header{
        justify-items: center;
    }
    
    .menu{
        background-color: rgb(39, 39, 39);
    
        width: max-content;
        padding: 10px 5px 10px 5px ;
        font-size: 20px;
        justify-content: center;
        justify-items: center;
        text-decoration: none;
        border: solid white 1px;
        display: flex;
        border-radius: 20px;
      
    }
    .menuListe li{
        list-style: none;
        justify-content: center;
        align-items: center;
        display: inline;
        margin: 20px;
        justify-content: space-evenly;
        color:white;
    }
    .jouer{
        color: rgb(226, 29, 177);
        background-color: rgb(226, 29, 177);
        border-radius: 10px;
        padding:5px;
    
    }
    a{
    text-decoration: none;
    color: white;
    }
    table {
        border-collapse: collapse;
        font-family: sans-serif;
        font-size: 0.8rem;
        letter-spacing: 1px;
        margin-top: 20px;
        background-color: white;
        border-radius: 10px;
        font-size: large;        
      }


caption{
    font-size: larger;
    margin: 50px 0px 30px 0px;
    color: white;
}

.img-inner {
    position:relative;
    width: 100%;
    height:100%;
    transition: transform 0.6s;
    transform-style: preserve-3d;
  }

img{
    cursor:pointer;
    border-radius: 10px;   
    cursor: pointer;
  position: relative;
}
img.is-flipped {
    transform: rotateY(180deg);
  }

.score{
    background-color: black;
    color: white;
    justify-content: center;
    justify-items: center;
    border-radius: 20px;
    margin: 20px 100px 20px 200px;
    padding: 10px 10px 10px 10px;
    font-size: larger;
    width: max-content;
}
span{
    color: rgb(226, 43, 165);
}
.meilleursScores, .meilleursScores td{
    margin: 0px 100px 30px 165px;
    border: solid 3px rgb(226, 43, 195);
    border-radius: 10px;
    border-collapse:separate;
    padding: 10px;
    height: 30px;
    

}
#tapis{
  border-spacing: 20px 20px;
  border-collapse: separate;
  background-color: transparent;
  border: transparent;
}