h1{
text-align: center;
color: white;
font-size: 60px;
font-weight:lighter;
text-shadow:1px 1px 2px black;
}
body{
    background:linear-gradient(to right, rgb(195, 0, 255),rgb(255, 182, 218));
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    justify-items: center;

}
header{
    justify-items: center;
}

.menu{
    background-color: rgb(39, 39, 39);

    width: max-content;
    padding: 10px 5px 10px 5px ;
    font-size: 20px;
    justify-content: center;
    text-decoration: none;
    border: solid white 1px;
    display: flex;
    border-radius: 20px;
  
}
.menuListe li{
    list-style: none;
    justify-content: center;
    align-items: center;
    display: inline;
    margin: 20px;
    justify-content: space-evenly;
    color:white;
}
/* .menuListe li:hover{
  
    background-color: rgb(226, 29, 177);
    border-radius: 10px;
    padding: 2px;
   
} */
.accueil{
    color: rgb(226, 29, 177);
    background-color: rgb(226, 29, 177);
    border-radius: 10px;
    padding:5px;

}

a{
text-decoration: none;
color: white;
}
.consignes{
  
    margin-top: 50px;
    background-color: black;
    color: white;
    padding:20px;
    border-radius: 20px;
    border: solid white 1px;
    display: flex;
    flex-direction: column;
    text-align: left;
    justify-content: center;
    width: 800px;
    
}

img{
    align-items: center;
    justify-content: center;
   width:50%;
   padding: 10px 200px 10px 200px;

}

footer{
  
        position:absolute;
        bottom: 0;
        left: 0;
        width: 100%;
    
}

@media screen and (max-width:1500px){
    img{
        width: 50%;
    }
    .menu{
       width: fit-content 
   

    }
    h1{
        font-size: 4rem;
    }
    .consignes{
        width: auto;
       
        
    }
    body{
        width: fit-content;
        position: sticky;
        margin: 1em 2em;
    }
    
}