h1{
    text-align: center;
    color: white;
    font-size: 60px;
    font-weight:lighter;
    text-shadow:1px 1px 2px black;
    }
    body{
        display: flex;
        background:linear-gradient(to right, rgb(195, 0, 255),rgb(255, 182, 218));
        font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        justify-items: center;
        font-size: larger;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    
    }
    header{
        justify-items: center;
    }
    
    .menu{
        background-color: rgb(39, 39, 39);
    
        width: max-content;
        padding: 10px 5px 10px 5px ;
        font-size: 20px;
        justify-content: center;
        justify-items: center;
        text-decoration: none;
        border: solid white 1px;
        display: flex;
        border-radius: 20px;
      
    }
    .menuListe li{
        list-style: none;
        justify-content: center;
        align-items: center;
        display: inline;
        margin: 20px;
        justify-content: space-evenly;
        color:white;
    }
    .jouer{
        color: rgb(226, 29, 177);
        background-color: rgb(226, 29, 177);
        border-radius: 10px;
        padding:5px;
    
    }
    a{
    text-decoration: none;
    color: white;
    }
    table {
        border-collapse: collapse;
        border: 2px solid rgb(243, 24, 177);
        font-family: sans-serif;
        font-size: 0.8rem;
        letter-spacing: 1px;
        margin-top: 20px;
        background-color: white;
        border-radius: 10px;
        font-size: large;        
      }
      
th,td {
  border: 1px solid rgb(243, 24, 177);
  padding: 8px 10px;
  height: 30px;
}

caption{
    font-size: larger;
    margin: 50px 0px 30px 0px;
    color: white;
}

.card {
    zoom: 1;
    vertical-align: top;
    margin: .4%;
    overflow: hidden;
}

img{
    cursor:pointer;
}